
.span {
    height: 30px;
    border-radius: 20px 20px 0 0;
    background-color: #ffdc40;
}

.todo-input {
    width: 80%;
    height: 30px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 1rem;
    font-size: 16px;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 30px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 1rem;
    font-size: 16px;
    margin: 0.5rem auto;
}

.add-btn {
    position: relative;
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 25px;
    background-color: #833AE0;
    font-size: 20px;
    margin: 1rem;
}

.circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 25px;
    background-color: #9953F1;
}

.todo-list{
    list-style: none;
    font-size: 24px;
}

.delete-btn {
    width: 20px;
    height: 20px;
    background-color: #c4c4c4;
    border: 0;
    border-radius: 50%;
}

.delete-btn:hover {
    background-color: #9953F1;
}

.sort-btn-area{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 90%;
}

.sort-btn {
    margin-bottom: 1rem;
    background-color: white;
    border: 0;
}

.sort-btn :hover .sort-svg {
    fill: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list_area {
    width: 336px;
    height: auto;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    text-align: center;
}

h1{
    margin-top: 1rem;
}
