@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.boxtodo{
    width: 336px;
    min-height: 236px;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
    text-align: center; 
    
}

.yellow_box{
    width: 336px;
    height: 28px;
    background-color: #FFDC40;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    text-align: center;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 30px;


}

.show_alt{
    width: 25px;
    height: 15px;
    position: relative;
    left: 70px;
    top: 45px;
}

.input_text{
    width: 286px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;

}

.purple_button{
    position: relative;
    width: 150px;
    height: 42px;
    background: #833AE0;
    border-radius: 71px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
}

.circle{
    position: absolute;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0%;
    top: 0%;

    background: #9953F1;
    border-radius: 50%;


}

.remover{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10%;
    top: 25%;
}
.third{
    position: relative;
}

ul {
    position: relative;
    display: block;
    width: 286px;
    height: auto;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 20px;
    list-style: none;
    text-align: center;
    padding: 0;
}
ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
ul li p{
    margin: 0;
}